
<form class="form-signin" name="form" (ngSubmit)="f.form.valid && save()" #f="ngForm" novalidate>
  <h1 class="h3 mb-3 font-weight-normal">Monitorix login page</h1>
  <div [ngClass]="{ 'has-error': f.submitted && !login.valid }">
    <label for="inputEmail" class="sr-only">Username</label>
    <input type="email" id="inputEmail" class="form-control" name="login" placeholder="Login" [(ngModel)]="user.login" #login="ngModel" required />
    <div *ngIf="f.submitted && !login.valid">Username is required</div>
  </div>
  <div [ngClass]="{ 'has-error': f.submitted && !password.valid }">
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" class="form-control" name="password" placeholder="Password" [(ngModel)]="user.password" #password="ngModel" required />
    <div *ngIf="f.submitted && !password.valid">Password is required</div>
  </div>
  <div [ngClass]="{ 'has-error': f.submitted && !password.valid }">
    <label for="confirmPassword" class="sr-only">Confirm password</label>
    <input type="password" id="confirmPassword" name="confirmPassword" class="form-control" placeholder="Confirm password" [(ngModel)]="user.confirmPassword" #confirmPassword="ngModel" required />
    <div *ngIf="f.submitted && !confirmPassword.valid">Password is required</div>
  </div>
  <div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign Up</button>
  </div>
</form>

